name: Deploy static site to GitHub Pages

on:
  push:
    branches:
      - master # если у тебя master, иначе укажи main

permissions:
  pages: write
  id-token: write
  contents: read

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/configure-pages@v3

      - uses: actions/upload-pages-artifact@v2
        with:
          path: .

      - id: deploy
        uses: actions/deploy-pages@v2
